:root {
    --cycleWidth: 35vw;
}

#bmodel {
    /* background: var(--background-dark); */

    #navbar {
        background: #0f172ad8;
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
        box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.595);
        button:nth-of-type(3) {
            color: var(--primary-green);
        }
    }

    .bg-img {
        position: absolute;
        z-index: -2;
        right: 0;
        width: 60%;
        box-sizing: border-box;
        border-left: 30vw transparent solid;
        border-bottom: 100vh var(--background-dark) solid;
    }
}

#value {
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    min-height: 100%;
    /* background-image: url("/images/axiom-pattern.png"); */

    h1 {
        font-size: 3rem;
        font-family: "Rubik", sans-serif;
        font-weight: 700;
    }

    p {
        font-size: 1rem;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        color: rgba(128, 128, 128, 0.658);
    }
}

#value-text {
    margin-top: var(--navheight);
    width: 50%;
    gap: 1rem;
    position: relative;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);

}

#value-chain {
    margin-top: var(--navheight);
    height: var(--cycleWidth);
    width: var(--cycleWidth);
    position: relative;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.212)); 
    }

    img:nth-of-type(1) {
        width: 100%;
        height: auto;

    }

    img:nth-of-type(2) {
        width: 10vw;
        height: auto;
    }
}

@media (max-width: 900px) {
    #value {
        padding: 2rem;
        h1 {
            font-size: 2rem;
        } 

        p {
            font-size: 0.8rem;
            line-height: 1.2rem;
        }
    }
}

@media (max-width: 640px) {
    #bmodel {
        .bg-img {
            bottom: 0;
            width: 320px;
            border-left: 320px transparent solid;
            border-bottom: 320px var(--background-dark) solid;
        }
    }
    #value {
        min-height: max-content;
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
        h1 {
            font-size: 2rem;
        } 

        p {
            font-size: 0.8rem;
            line-height: 1.2rem;
        }
    }

    :root {
        --cycleWidth: 100vw;
    }

    #value-text {
        width: 100%;
        text-align: center;
    }

    #value-chain {
        margin-top: 0rem;
        height: 70vw;
        img:nth-of-type(1) {
            width: 70%;
        }

        img:nth-of-type(2) {
            width: 20vw;
            height: auto;
        }    
    }
}

@media (max-width: 425px) {
    #value {
        padding: 2rem 1rem;
        h1 {
            font-size: 1.7rem;
        } 

        p {
            font-size: 0.7rem;
            line-height: 1.1rem;
        }
    }

    #value-chain {
        margin-top: 0rem;
        height: 90vw;
        img:nth-of-type(1) {
            width: 90%;
        }

        img:nth-of-type(2) {
            width: 25vw;
            height: auto;
        }    
    }
}
