#bphil {
    width: 100%;
    min-height: 100%;
    position: relative;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

#bphil-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2; 
    right: 0;  
    img {
        width: auto;
        height: 100%;
    }
}

#bphil-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle 60vw at top right, #ffffff00, var(--background-dark));
    opacity: 0.9;
}

#bphil-text {   
    width: 50%;
    gap: 1.5rem;
    text-align: left;
    margin-left: 2rem;

    h2 {
        font-size: 3rem;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        color: var(--primary-orange);
    }

    p:nth-of-type(1) {
        font-size: 1.2rem;
        font-family: "Play", sans-serif;
        font-weight: 300;
        color: var(--font-white);
        line-height: 1.6rem;
    }

    p:nth-of-type(2) {
        font-size: 1.3rem;
        line-height: 1.7rem;
        font-family: "Lobster Two", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: var(--font-white);
        text-align: right;
        margin-top: 1rem;
    }
}

@media (max-width: 1024px) {
    #bphil-text {
        h2 {
            margin-top: 2rem;
            font-size: 2rem;
        }

        p:nth-of-type(1), p:nth-of-type(2) {
            font-size: 0.9rem;
            line-height: 1.3rem;
        }
    }
}

@media (max-width: 900px) {
    #bphil-text {
        width: 100%;
    }

    #bphil {
        justify-content: center;
    }

    #bphil-bg {
        background: var(--background-dark);

    }
}

@media (max-width: 426px) {
    #bphil-text {
        padding: 1.5rem;
        width: 100%;
        margin-left: 0rem;
        h2 {
            margin-top: 2rem;
            font-size: 1.8rem;
        }

        p:nth-of-type(1), p:nth-of-type(2) {
            font-size: 0.8rem;
            line-height: 1.2rem;
        }
    }
}
