#feature {
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100%;
    padding: calc(2rem + var(--navheight))  2rem 2rem 2rem ;
    gap: 4rem;
    background-image: url("/images/axiom-pattern.png");
}

#feature-text {
    gap: 1rem;
    
    h1 {
        font-size: 3rem;
        font-family: "Rubik", sans-serif;
        font-weight: 700;
    }

    h2 {
        font-size: 1rem;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        color: rgba(128, 128, 128, 0.658);
    }
}

#feature-grd {
    grid-template: auto / repeat(4, 1fr); 
    gap: 2rem;
    >div {
        gap: 1rem;
    }

    h2 {
        font-size: 1.3rem;
        font-family: "Rubik", sans-serif;
        font-weight: 550;
        line-height: 1.5rem;
    }

    p {
        font-size: 0.9rem;
        font-family: "Play", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #3d3d3da8;
        line-height: 1.3rem;
    }
}

.feature-icon {
    width: 5rem;
    height: auto;
    background: var(--background-gradient);
    padding: 1rem;
    color: white;
    margin-bottom: 1rem;
}

@media (max-width: 930px) {
    #feature {
        min-height: max-content;
        height: 100%;
    }
    #feature-grd {
        h2 {
            font-size: 1.2rem;
            line-height: 1.4rem;
            min-height: 2.8rem;
        }

        p {
            font-size: 0.8rem;
        }
    }

}

@media (max-width: 800px) {
    #feature {
        gap: 3rem;
        padding: var(--navheight)  2rem 4rem 2rem ;
    }

    #feature-text {
        h1 {
            font-size: 2.5rem;
        }

        h2 {
            font-size: 0.9rem;
        }
    }

    .feature-icon {
        width: 4.5rem;
        padding: 0.8rem;
        margin-bottom: 0;
    }
    #feature-grd {
        h2 {
            font-size: 1.1rem;
            line-height: 1.3rem;
            min-height: 2.6rem;
        }

        p {
            font-size: 0.7rem;
            line-height: 1.1rem;
        }
    }

}

@media (max-width: 640px) {
    #feature {
        min-height: max-content;
    }

    #feature-text {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 0.8rem;
        }
    }

    #feature-grd {
        grid-template: auto / repeat(2, 1fr); 

        h2 {
            min-height: 1.3rem;
        }
    }

}

@media (max-width: 426px) {
    #feature {
        padding: var(--navheight)  1rem 4rem 1rem ;
    }

    #feature-text {
        h1 {
            font-size: 1.8rem;
        }

        h2 {
            font-size: 0.7rem;
        }
    }

    .feature-icon {
        width: 4rem;
        padding: 0.8rem;
        margin-top: 1rem;
    }
    #feature-grd {
        grid-template: auto / repeat(2, 1fr); 
        gap: 1rem;

        h2 {
            font-size: 1rem;
            line-height: 1.3rem;
            min-height: 1.3rem;
        }

        p {
            font-size: 0.65rem;
            line-height: 1.1rem;
        }
    }

}

@media (max-width: 376px) {

    .feature-icon {
        margin-top: 0rem;
    }
    #feature-grd {
        grid-template: auto /  1fr; 
        gap: 2rem;
    }

}