#contact {
    min-height: 100%;
    height: fit-content;
    align-items: center;
    background: var(--background-dark);
    gap: 3rem;
    justify-content: center;
    padding: calc(2rem + var(--navheight))  2rem 4rem 2rem ;
}

.contact-info {
    justify-content: space-between;
}

#contact-text {
    text-align: center;
    color: white;

    h1 {
        font-size: 3rem;
        font-family: "Rubik", sans-serif;
        font-weight: 700;
    }

    h2 {
        font-size: 1rem;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        color: rgba(128, 128, 128, 0.658);
    }
}

#contact-element {
    width: 50%;
    gap: 2rem;

    h2 {
        margin-top: 0.3rem;
        font-size: 1.1rem;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        color: white;
    }

    p {
        margin-top: 0.5rem;
        font-size: 1rem;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        color: var(--font-white);
        line-height: 1.3;
    }

    section {
        width: 50%;
        height: fit-content;
    }
}

#element-icon {
    width: 3rem;
    height: 3rem;
    padding: 0.7rem;
    background: var(--background-gradient);
    border-radius: 0.5rem;
    color: white;
}

#contact-form {
    gap: 1.5rem;
    width: 50%;

    input, textarea {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        background: #ffffff0a;
        /* opacity: 0.1; */
        border-radius: 0.5rem;
        padding: 0rem 1rem;
        outline: none;
        border: 1px #ffffff0a solid;
        color: white;
    }

    input:focus, textarea:focus {
        border-color: var(--primary-green);
    }

    textarea {
        padding: 1rem;
        /* overflow: hidden; */
    }

    .message {
        height: 9rem;
    }

    button {
        height: 3rem;
        border-radius: 0.5rem;
        background: var(--background-gradient);    
        color: white;
    }
}

@media (max-width: 900px) {
    #contact-element {
        section {
            width: 70%;
        }

        h2, p {
            font-size: 0.9rem;
            font-weight: 300;
        } 
    }
}

@media (max-width: 767px) {
    #contact {
        min-height: fit-content;
        padding: calc(2rem + var(--navheight))  3rem 4rem 3rem ;
    }

    #contact-text {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 0.8rem;
        }
    }

    .contact-info {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    #contact-element, #contact-form {
        width: 100%;
        section {
            width: 70%;
        }
    }

}

@media (max-width: 540px) {
    #contact {
        padding: calc(2rem + var(--navheight))  2rem 2rem 2rem ;
    }

    #contact-text {
        h1 {
            font-size: 1.8rem;
        }

        h2 {
            font-size: 0.7rem;
        }
    }

    #contact-element {
        h2, p {
            font-size: 0.7rem;
            font-weight: 300;
        } 
    }
}

@media (max-width: 376px) {
    #contact {
        min-height: fit-content;
        padding: var(--navheight)  1rem 2rem 1rem ;
    }

    #contact-element {
        p {
            font-size: 0.6rem;
            font-weight: 200;
        } 
    }

    #contact-text {
        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 0.6rem;
        }
    }

}