#navbar {
    position: fixed;
    top: 0px;
    height: var(--navheight);
    width: 100%;
    z-index: 4;
    padding: 0rem 3rem;
    box-sizing: border-box;
    color: var(--font);
    justify-content: space-between;
    align-items: center;

    img {
        height: 3rem;
        width: auto;
    }

    button {
        background: none;
    }

    #menu {
        color: white;
    }
}

.bg {
    background: #0f172ad8;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.595);
}

#components {
    gap: 2.5rem;

    button {
        color: var(--font-white);
        font-family: "Rubik", sans-serif;
        font-size: medium;
        font-weight: 400;
        font-style: normal;
        background: none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 1024px) {
    #components {
        gap: 1rem;
        button {
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 900px) {
    #components {
        flex-direction: column;
        position: absolute;
        min-height: 500px;
        height: 100vh;
        width: 360px;
        top: 0;
        right: 0;
        padding: 0rem 2rem 10rem 2rem;
        background: var(--background-dark);
        justify-content: space-between;
        z-index: 4;
        div:nth-of-type(1) {
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;

            svg {
                color: white;
            }
        }
        >button {
            width: 100%;
            text-align: left;
            margin-left: 2rem;
            /* background: green; */

        }
    }
}

@media (max-width: 640px) {

        #components {
            width: 100%;
    }
}

@media (max-width: 550px) {
    #navbar {
        padding: 0rem 1rem;
        img {
            height: 2.5rem;
        }
    }
}

@media (max-width: 376px) {
    #navbar {
        padding: 0rem 1rem;
    }

    #components {
        gap: 3rem;
        justify-content: start;
        div:nth-of-type(1) {
            margin-top: 1.5rem;
        }

    }
}