#orgphil {
    #navbar {
        background: #0f172ad8;
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
        box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.595);
        button:nth-of-type(2) {
            color: var(--primary-green);
        }
    }
    
}

#core {
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100%;
    gap: 4rem;
    padding: calc(2rem + var(--navheight))  2rem 4rem 2rem ;
    background-image: url("/images/axiom-pattern.png");

}

#core-text {
    gap: 1rem;

    h1 {
        font-size: 3rem;
        font-family: "Rubik", sans-serif;
        font-weight: 700;
    }
}

#core-grd {
    grid-template: auto / repeat(5, 1fr); 
    gap: 2rem;

    h2 {
        font-size: 1.3rem;
        font-family: "Rubik", sans-serif;
        font-weight: 550;
        line-height: 1.7rem;
        min-height: 3.4rem;
    }

    p {
        font-size: 0.9rem;
        font-family: "Play", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #3d3d3da8;
        line-height: 1.3rem;
    }
}

.core-icon {
    width: 5rem;
    height: auto;
    background: var(--background-gradient);
    padding: 1rem;
    color: white;
    margin-bottom: 1rem;
}

#quotes {
    min-height: 100%;
    justify-content: space-between;
    padding: calc(2rem + var(--navheight))  2rem 4rem 2rem ;
    background: whitesmoke;
    /* background-image: url("/images/axiom-pattern.png"); */

    div {
        width: 48%;
    }
    
    >div:nth-of-type(2) {
        align-self: flex-end;
    }
    h2 {
        font-size: 3rem;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        /* color: rgba(128, 128, 128, 0.658); */
    }

    p {
        font-size: 1rem;
        font-family: "Play", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #3d3d3da8;
        line-height: 1.3rem;
    }
}

@media (max-width: 900px) {
    #core {
        gap: 2rem;
    }
    #core-text {
        h1 {
            font-size: 2.5rem;
        }
    }

    .core-icon {
        width: 4rem;
        margin-bottom: 0rem;
    }

    #core-grd {
        gap: 1rem;
        h2 {
            font-size: 1rem;
            line-height: 1.4rem;
            min-height: 2.8rem;
        }

        p {
            font-size: 0.7rem;
            line-height: 1.1rem;
        }
    }

    #quotes {
        h2 {
            font-size: 2.5rem;
        }

        p {
            font-size: 0.9rem;
            line-height: 1.3rem;
        }
    }
}

@media (max-width: 768px) {
    #core {
        min-height: max-content;
        box-sizing: border-box;
    }
    #core-grd {
        grid-template: auto / repeat(2, 1fr);
        gap: 1.5rem;

        >div:nth-of-type(5) {
            grid-column: 1 / 3;
        }
        h2 {
            min-height: 1.4rem;
        }
    }

    #quotes {
        h2 {
            font-size: 1.8rem;
        }

        p {
            font-size: 0.8rem;
            line-height: 1.2rem;
        }
    }
}

@media (max-width: 550px) {
    #core-text {
        h1 {
            font-size: 2rem;
        }
    }

    #core-grd {
        grid-template: auto / repeat(2, 1fr);
        gap: 1.5rem;
        /* justify-items: center; */

        h2 {
            font-size: 0.9rem;
            line-height: 1.3rem;
            min-height: 2.6rem;
        }

        p {
            font-size: 0.65rem;
            line-height: 1rem;
        }
    }

    #core-grd {
        >div:nth-of-type(5) {
            grid-column: 1 / 3;
            h2 {
                min-height: 1.3rem;
            }
        }
    }

    #quotes {
        justify-content: center;
        gap: 5rem;
        div {
            width: 100%;
        }
    }
}

@media (max-width: 375px) {
    #core {
        padding: calc(2rem + var(--navheight))  1rem 4rem 1rem ;
    }
    #core-text {
        h1 {
            font-size: 1.8rem;
        }
    }

    #core-grd {
        grid-template: auto / 1fr;
        gap: 1.3rem;
        /* justify-items: center; */

        h2 {
            min-height: 1.3rem;
        }
    }

    #core-grd {
        >div:nth-of-type(5) {
            grid-column: 1 / 2;
        }
    }

    #quotes {

        p {
            font-size: 0.6rem;
            line-height: 1rem;
        }
    }
}