#services {
    /* height: calc(100vh - 5rem); */
    width: 100%;
    background: whitesmoke;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding: calc(2rem + var(--navheight))  2rem 4rem 2rem ;
}

#service-text {
    color: var(--background-dark);

    h2 {
        font-size: 3rem;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
    }

    p {
        font-size: 1rem;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        color: rgba(128, 128, 128, 0.658);
    }
}

#service-grid {
    /* backface-visibility: hidden; */
    width: 100%;
    grid-template: 40vh 40vh / repeat(3, 1fr);
    gap: 1rem;
}

.card {
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: start;
    text-align: start;
    background: white;
    background-image: url("/images/axiom-pattern.png");
    p {
        font-size: 0.8rem;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        color: rgba(128, 128, 128, 0.658);
    }
}

#class-icon {
    width: 4rem;
    height: auto;
    margin-bottom: 2rem;
    color: var(--primary-orange);
}

.card-text {
    position: absolute;
    max-width: 100%;
    margin: 0 2rem;
    /* top: 20%; */
    /* bottom: 50%; */
    h3 {
        font-size: 1.8rem;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        margin-bottom: 1rem;
    }
}

.backcard-text {
    max-width: 100%;
    margin: 2rem;
    font-size: 1.05rem;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    #class-icon {
        width: 3rem;
        margin-bottom: 1rem;
    }

    #service-grid {
        grid-template: 35vh 35vh / repeat(3, 1fr);
    }

    .backcard-text {
        font-size: 0.9rem;
    }

    .card-text {
        h3 {
            font-size: 1.4rem;
        }
    }

}

@media (max-width: 920px) {

    #class-icon {
        width: 3rem;
        margin-bottom: 1rem;
    }

    #service-grid {
        grid-template: 200px 200px / repeat(3, 1fr);
    }

    .backcard-text {
        font-size: 0.8rem;
    }

    .card-text {
        h3 {
            font-size: 1.2rem;
        }

        p {
            font-size: 0.7;
        }
    }

}

@media (max-width: 850px) {
    #service-grid {
        grid-template: 200px 200px 200px/ repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    #service-text {
        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 0.8rem;
        }
    }

    #class-icon {
        width:2.5rem;
        margin-bottom: 1rem;
    }

    .backcard-text {
        font-size: 0.7rem;
    }

    .card-text {
        h3 {
            font-size: 1.1rem;
        }

        p {
            font-size: 0.5;
        }
    }

}

@media (max-width: 550px) {
    #services {
        padding: calc(2rem + var(--navheight))  1rem 4rem 1rem ;

    }

    #service-grid {
        grid-template: repeat(6, 200px) / auto;
    }

}
