:root{
    --primary-green: #009F7B;
    --primary-orange: #EE5432;
    --background-gradient: linear-gradient(to bottom right, #009F7B, #EE5432);
    /* --font-gradient: ; */
    --hover-green: #2ab045ac;;
    --font-white: white;
    --background-dark: #0f172a;
    --border: #dddfe2;
    --fontGray: #818488;
    --iconBlue: #228DFB;
    --navheight: 5rem;
}

* {
    padding: 0; 
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

#app {
    #navbar {
        button:nth-of-type(1) {
            color: var(--primary-green);
        }
    }
}

#app, #bmodel, #import, #orgphil {
    position: relative;
    height: 100vh;
    min-height: 528px;
    overflow: auto;
}

.pattern {
    position: absolute;
    width: 100%;
    height: 350%;
    z-index: -3;
    background-image: url("/images/axiom-pattern.png");
}

.pattern2 {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: -3;
    background-image: url("/images/axiom-pattern.png");
}

.blur {
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: 3;
    background: var(--background-dark);
}

@media (min-width: 868px) {
    #dropdown {
        #menu {
            display: none;
        }
        
    }

    .opacity {
        filter: blur(0px);
    }
}

@media (max-width: 868px) {
    
    #nav-bar {
        grid-template: var(--navHeight) / 1fr 4fr 1fr;
        > form {
            > div:nth-of-type(1) {
                display: none;
            }

            > div:nth-of-type(2) {
                display: flex;
                height: 100%;
                flex-grow: 0;
                width: 1rem;
                align-items: center;
                color: var(--fontGray);

            }
        }

        > div:nth-of-type(2) {
            display: none;
        }

        > div:nth-of-type(3) {
            display: flex;

        }
    }

    #mbody {
   
        >div:nth-of-type(2) {    
  
            #message-profile {
    
                >div:nth-of-type(1) {
    
                    img {
                        height: 6rem;
                        width: auto;
                    }
                }
            }
    
        }
    }

    #dropdown {
        width: 100%;
    }
    

}

@media (max-width: 767px) {
    
    
}

@media (max-width: 550px) {
    :root {
        --navheight: 4rem;
    }

}

@media (max-width: 485px) {
    #nav-bar {
        padding: 0.5rem 1rem;
        grid-template: 2rem / 1fr 1fr 1fr;
        gap: 1rem;

        > div:nth-of-type(1) {
            margin-right: 1.5rem;
            gap: 2em;
        }
    }

    #mbody {
   
        >div:nth-of-type(2) {    
  
            #message-profile {
                height: 81vh;
                gap: 1rem;
                .group {
                    #grp_frds{                        
                        >div {
                            font-size: 0.7rem;
                        }
    
                        img {
                            height: 3rem;
                            width: auto;
                            align-self: center;
                        }
                    }
                }
    
                >div:nth-of-type(1) {
                  
                    section {
                        font-size: 0.8rem;
                    }
                }
            }
    
        }
    }
}

.gap {
    gap: 1rem;
}

.f-width {
    width: 100%;
}

.hideDrop {
    display: none;
}

.notification {
    display: flex;
    flex-direction: column;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.opacity {
    filter: blur(10px);
    
}

.rnd-edg {
    border-radius: 1rem;
}

.rnd-shd {
    box-shadow:  0 5px 15px -3px rgb(0 0 0 / .1);
}

.rnd-bdr {
    border: 1px var(--border) solid;
}

.full-ratio {
    height: 100%;
    width: 100%;
}

.bdr-bx {
    box-sizing: border-box;
}

.pri-bg {
    background: var(--primary-background);
}

.sec-bg {
    background: var(--secondary-background);
}

.hd {
    display: none;
}

.blk {
    display: block;
}

.grd {
    display: grid;
}

.flx {
    display: flex;
}

.in-flx {
    display: inline-flex;
}

.flx-drc {
    flex-direction: column;
}

.aln-cnt {
    align-content: center;
}

.jst-cnt {
    justify-content: center;
}

.aln-slf-cnt {
    align-self: center;
}

.jst-slf-cnt {
    justify-self: center;
}

.jst-sp-btwn {
    justify-content: space-between;
}

.unclickable {
    pointer-events: none;
}

.edg-pd {
    padding: 2rem 2rem;
    box-sizing: border-box;
}




